body {
    background-image: url(img/FONDO\ MARMOL.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.contenedorformularioinput{
    width: 390px;
    height: 410px;
    margin: auto;
    margin-top: 25px;
    background-color: white;
    border-radius: 4%;
}